* {
  margin: 0;
  padding: 0
}


.container {
  background-color: #000;
  height: 600px;
  width: 90vw;
  margin: -620px 0px 0px 150px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score {
   color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(20,20px);
  grid-template-rows: repeat(20,20px);
  gap: 1px;
  width: max-content;
  
}


.cell {
  background-color: #fff;
  width: 20px;
  height: 20px; 
}

 .food {
  animation-name: food;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 10;
  background-color: #B60000;
  border-radius: 100%;
  border: 2px solid #FFFC1B;
  
}

@keyframes food {
0% {
 transform: rotateX(60deg);
}

33% {
  transform: rotateX(120deg);
}

66% {
  transform: rotateX(180deg);
  
}

100% {
  transform: rotateX(360deg);
  
}


}

.snake {
  background-color: limegreen;
  color: #fff;
  
}


.snakeHead {
  
  background-color: #FFFC1B;
	border: 2px;
  height: 20px;
  width: 20px;
     	
}